{
    "presets": [
        "react",
        "es2015"
    ],
    "plugins": [
        "transform-decorators-legacy",
        "babel-plugin-syntax-trailing-function-commas",
        "babel-plugin-transform-class-properties",
        "babel-plugin-transform-export-extensions",
        "babel-plugin-transform-object-rest-spread"
    ]
}
