/* COLORS */
:root {
  --black: #000;
  --white: #fff;
}

/* MEDIA QUERIES */
@custom-media --small-viewport screen and (max-width: 767px);
@custom-media --medium-viewport screen and (min-width: 768px);
@custom-media --large-viewport screen and (min-width: 1024px);
@custom-media --wide-viewport screen and (min-width: 1280px);

/* FONTS */
:root {
  --open-sans: 'Open Sans', sans-serif;
  --ubuntu: 'Ubuntu', sans-serif;
}

/* Z-INDEX */
